<mat-toolbar color="primary">
    <span>Playlist</span>
  </mat-toolbar>

<div class=form *ngIf="this.isLogged">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Playlist</mat-label>
                <input matInput  type="text" #txtSearch (keyup.enter)="addPlaylist(txtSearch.value)">
                <!-- <input matInput  type="text" #txtSearch (keyup)="search( txtSearch.value )" [(ngModel)] = "searchName"> -->
            </mat-form-field>
          </p>
    
          <div class="example-button-row">
            <button mat-raised-button type="button" color="accent" [disabled]="!txtSearch.value" (click)="addPlaylist(txtSearch.value)">Add</button>
          </div>  

</div>
<div *ngFor="let playlist of playlistList"> 
<mat-toolbar color="primary" >
    <span>{{playlist.name}} (by {{playlist.author}}) </span>
    <span class="example-spacer"></span>

    <button *ngIf="this.isLogged && (playlist.author==this.userLogin) " mat-raised-button type="button" color="warn" (click)="deletePlaylist(playlist.id)">Delete</button>
    
    <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
      <span *ngIf="gridColumns === 4">Three Columns</span>
      <span *ngIf="gridColumns === 3">Four Columns</span>
    </button>
</mat-toolbar>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of playlist.movieList; let i = index">
      <app-movie-details [movie] = 'movie' [index] ='i'></app-movie-details>

    </div>
  </div>
</div>

</div>