<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </span>
  <span>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
  </span>
  <span>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </span>
  <span>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </span>
  <span>
    <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
  </span>
  <span>
    <a routerLink="/playlist" routerLinkActive="active">Playlist</a>
  </span>
  <span>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>
  </span>
</mat-toolbar>

