<mat-toolbar color="primary">
    <span>Playlist Detail</span>
    <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
      <span *ngIf="gridColumns === 4">Three Columns</span>
      <span *ngIf="gridColumns === 3">Four Columns</span>
    </button>
  </mat-toolbar>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of movieList; let i = index">

        <app-movie [movie] = 'movie' [index] ='i'></app-movie>

      </div>
    </div>
  </div>
